{% extends '::base.html.twig' %}

{% block body -%}
    {% if locale is defined %}
    <h1>Translation Domain List For {{ locale }}</h1>
    {% else %}
        <h1>{{ error }}</h1>
    {% endif %}
{% endblock %}
